body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #eb1b1b;
}

a {
    text-decoration: none;
    color: #0066cc;
}

.post {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
        
}

button {
    background-color: #ff4d4d;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1a1a;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.home-image {
    width: 50%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
}

 body {
     font-family: Arial, sans-serif;
     width: 400px;
     margin: 50px auto;
     padding: 30px;
     border: 1px solid #ccc;
     border-radius: 10px;
     background: #f4f4f4;
 }

 h2 {
     text-align: center;
     color: #333;
 }

 form {
     display: flex;
     flex-direction: column;
 }

 input {
     padding: 8px;
     margin-bottom: 12px;
     border-radius: 4px;
     border: 1px solid #ccc;
 }

 button {
     padding: 10px;
     background-color: #007bff;
     color: white;
     border: none;
     border-radius: 5px;
 }

 button:hover {
     background-color: #0056b3;
 }

 p {
     text-align: center;
 }